/* CSS Document */

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
	src: url('/fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('/fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
	src: url('/fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('/fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/eot/IRANSansWeb(FaNum)_Light.eot');
	src: url('/fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('/fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
	src: url('/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('/fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('/fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */ url('/fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/ url('/fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('/fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
body{
	font-family:IRANSans;
	font-size:14px;
}
.card{
	cursor:pointer;
}
.swiper-slide-active{
	background-color: #6ED2BA;
	border-radius: 10px;
}
.menu-navigator{
	z-index: 1;background-color: #17B890;
}
.menu-content{
	background:#333333;
	min-height: 100vh;
	padding-top:250px;
}
.menu-item{
	border-radius: 10px;
}
.menu-item img{
	border-radius:5px;
}
#navbar{
	transition: 0.3s;
	overflow: hidden;
}
#navbar i{
	position: absolute; 
	right:20px;
	font-size:18px;
	padding:4px 13px 7px 13px;
	border:1px solid #333333;
	border-radius: 3px;
	color:white;
	background:#333333 !important
}
#navbar i:nth-child(2){
	position: absolute; 
	right:65px;
	font-size:18px;
	padding:4px 8px 7px 8px;
	border:1px solid #333333;
	border-radius: 3px;
	color:white;
	background:#333333 !important
}
#navbar i:hover{
	transition: 0.3s;
	color:#17B890 !important;
	cursor:pointer
}
.menu-item .card-body div h6:nth-child(2){
	-webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
	height:60px;
	overflow: hidden;
}
.menu-name{
	display: flex;
	align-items: center;
}
.line{
	height:1px;
	border-top:2px dashed gray;
	margin: 15px 10px;
	flex-grow:1;
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(to right, #5f2c82, #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  .modal-title{
	margin-right:20px;
  }
  .modal-header button{
	position: absolute;
  }
  .modal-body{
	  text-align: right;
  }
  .eventModal .card-body{
	  max-height: 160px;
  }
  .eventModal .card-body div span{
	background:#17B890;
	color:white;
	 padding:2px 5px;
	 top:30px;
	 border-radius:10px;
	 position: absolute;
	 left:10px;
	 width: 125px;
	 max-width: 125px;
	 overflow: hidden;
  }
  .eventModal .card-body div span:nth-child(2){
	background:#17B890;
	color:white;
	 padding:2px 5px;
	 top:3px;
	 border-radius:10px;
	 position: absolute;
	 left:10px;
	 width: 125px;
  }
  .eventModal .card-body div p{
	  margin-top:15px;
	  max-height: 65px;
	  overflow: hidden;
  }